body {
    margin: 0;
    /* display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2rem 10rem auto 3rem;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        ". main ."
        "footer footer footer"; */
}

nav {
    /* grid-area: nav; */
    margin: 0;
    background-color: cadetblue;
    display: flex;
    flex-flow: row wrap;
}

header {
    /* grid-area: header; */
    margin: 0;
    background-color: burlywood;
}

main {
    /* grid-area: main; */
    margin: 0;
    background-color: darkcyan;
}

footer {
    /* grid-area: footer; */
    margin: 0;
    background-color: darkolivegreen;
}