html {
    --backgroundColor: rgb(29, 28, 28);
    --accentColor1: rgb(42, 49, 61);
    --accentColor2: rgb(150, 207, 212);
    --accentColor3: rgb(91, 174, 177);
    --accentColor4: rgb(22, 32, 48);
}


body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Federo", Roboto, san-serif;
}



/* ---------- nav ---------- */
nav {
    margin: 0;
    background-color: var(--backgroundColor);
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    list-style: none;
}

nav li {
    margin: 0;
    padding: 0.75em;
}

nav li:hover {
    background-color: var(--accentColor1);
    transition: background-color 0.3s
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav li #h-logo {
    margin: 0 auto 0 0;
    /* denna funkar inte riktigt nu */
}

nav li#current-page {
    background-color: var(--accentColor2);
}

nav li#current-page a {
    color: #000;
}



/* ---------- header ---------- */
#hero {
    margin: 0;
    padding: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--accentColor2);
}

#hero h1 {
    margin: 0.25em;
    align-self: center;
}


/* ---------- main ---------- */
main {
    margin: 0;
    padding-bottom: 0.5em;
    color: #fff;
    background-color: var(--backgroundColor);
}

#categories {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.spec-event {
    background-color: var(--accentColor2);
    box-shadow: 6px 6px 5px black;
    display: inline-block;
    padding: 0.75em;
    margin: 0.1em;
    border-radius: 0.5em;
    font-family: "Federo", Roboto, san-serif;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.spec-event:hover {
    background-color: var(--accentColor3);
}

a.spec-event {
    color: #000;
    text-decoration: none;
}

/* ---------- filtrering ---------- */
#filters {
    display: flex;
    flex-flow: column;
    gap: 0.75em;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

#filter-fold-section {
    color: #000;
    background-color: var(--accentColor2);
}

#top-fold-sec {
    border: 0.1em solid var(--accentColor3);
    padding: 0.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5em;
}

#top-fold-sec p {
    margin: 0.5em 0;
}

#top-fold-sec img {
    height: 1.5em;
    cursor: pointer;
    /* margin-right: auto; */
}

#top-fold-sec img#sorting {
    height: 1.2em;
}

#bottom-fold-sec {
    padding: 0.5em;
    display: flex;
    flex-flow: column wrap;
}

#bottom-fold-sec img {
    height: 1em;
}


/* ---------- activity card ---------- */
.activity-card {
    background-color: var(--accentColor1);
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 6px 6px 5px black;
}

.activity-card .act-flex-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1em;
}

.activity-card .act-img {
    height: 7em;
    width: 5em;
    background-color: #fff;
}

.activity-card h3,
.activity-card h3+p {
    display: inline-block;
    margin: 0.5em 0.5em 0 0;
}

.activity-card a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 1em;
    padding: 0.5em;
    box-shadow: 6px 6px 5px black;
    transition: background-color 0.3s;
}

.activity-card a:hover {
    background-color: var(--accentColor2);
}

.activity-card .act-flex-info img {
    height: 1.25em;
    margin-right: 0.25em;
}

.activity-card .act-flex-card button {
    margin: 0.5em 0.5em auto auto;
}

.activity-card .act-symbols {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75em;
    padding: 0 1em 1em 0;
}

.activity-card .act-symbols div {
    background-color: var(--accentColor3);
    color: #000;
    padding: 0.4em 0.6em;
    border-radius: 1em;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 1em;
}



/* ---------- detaljsida ---------- */
#details-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: burlywood;
    padding: 0.5em;
}

#details-header a {
    align-self: flex-start;
}

.details-page {
    padding: 0.3em;
}

.details-flex-symbols {
    background-color: cadetblue;
    border-radius: 0.5em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 0.5em;
}

.details-flex-symbols img {
    height: 2em;
}

#contact-section img {
    height: 1.2em;
    padding: 0 0.25em;
}

.det-img {
    background-color: wheat;
    height: 15em;
    margin: 1em;
}

/* ---------- recensioner ---------- */
.review-card {
    background-color: var(--accentColor1);
    margin: 0.75em 0.5em;
    border-radius: 0.5em;
    border: 0.15em solid rgb(6, 8, 24);
    box-shadow: 6px 6px 5px black;
    display: flex;
    flex-flow: column nowrap;
}

.rev-flex-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--accentColor2);
    border-radius: 0.3em 0.3em 0 0;
    padding: 0.5em;
}

.rev-flex-header h4 {
    display: inline-block;
    margin: 0.5em auto 0.5em 0;
}

.rev-flex-header .rev-rating img {
    height: 1em;
}

.rev-flex-header~p {
    padding: 0 0.5em;
}



/* ---------- footer ---------- */
footer {
    margin: 0;
    padding: 0.2em;
    color: #000;
    background-color: var(--accentColor2);
}

#map {
    height: 180px;
}